
.form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: yellowgreen;
    gap: 7px;
}
label{
    width: 100%;
    margin-bottom: 8px;
}
input{
    width: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    height: 18px;
}